<div class="mt-4">
    <form method="POST" action="">
        <div class="row mb-3">
            <label for="search-input" class="col-sm-2 col-form-label">Tìm kiếm</label>
            <div class="col-sm-10">
                <input type="text" name="q" class="form-control" id="search-input">
            </div>
        </div>           
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>