<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button type="button" class="btn btn-primary"><h2>Học ngay</h2></button>
        </div>
        <div class="col-lg-9">
            <h2>Xây dựng khoá học với Nodejs và Express</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>